@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --top_bottom : #5E5E4A;
    --font1 : "Raleway", sans-serif;
    --main_color : #FFFFFF;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font1);
    background-color: var(--main_color);
}

.TOP-INFO-SECTION{
    width: 100vw;
    height: 5vh;
    background-color: var(--top_bottom);
    text-align: center;
    vertical-align: middle;
    line-height: 5vh;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
}

.NAVBAR-SECTION{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    border: 3px solid black;
    width: 100vw;
    height: 15vh;
    padding-bottom: 1em;
}

.navbar-section-navbar{
    width: 40%;
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.navbar-section-navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.navbar-section-navbar ul li{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: letter-spacing 1s;
}
.navbar-section-navbar ul li:hover{
    letter-spacing: 2px;
    cursor: pointer;
}

.navbar-section-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-section-logo img{
    width: 60%;
}

.navbar-section-searchbar{
    width: 40%;
    border: 5px solid red;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar-section-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-bottom: 3px solid rgb(0, 0, 0, 0.25);
    width: 70%;
}

.search-input{
    font-size: 16px;
    font-family: var(--font1);
    color: #333333;
    margin-left: 14px;
    border: none;
    background-color: transparent;
}

.search-input:focus{
    border: none;
    outline: none;
}

.search-input::placeholder,
.search-icon{
    color: rgb(0, 0, 0, 0.25);
}

.navbar-section-container input{
    width: 20rem;
}

.login{
    width: 5em;
    height: 3em;
    border: 3px solid black;
}
.login div{
    
}

/* .navbar-section-container div{
    width: 3em;
    height: 3em;
    border: 3px solid black;
} */

